.content-wrapper { width: 100% !important }

#page{ font-family:Arial, Helvetica, sans-serif; text-align:left;  line-height:1.5; padding-bottom:100px; overflow:hidden }
#page h2{ font-size:3em; margin-bottom:40px }


.product{ clear:both;  overflow:hidden; position:relative }
.product h3{ font-size:2em; color:#960000; margin-bottom:20px; text-align: left !important  }
.product ul{ list-style:none }
.product ul li{ 
				overflow: hidden;
				/*padding:15px;*/
				/* border:4px solid #efefef; */
				margin-left:10px; 
				border-radius:5px; 
				/*
				-webkit-box-shadow: 0 1px 2px rgba(20,20,20,0.5);
				-moz-box-shadow: 0 1px 2px rgba(20,20,20,0.5);
				box-shadow: 0 1px 2px rgba(20,20,20,0.5);
				*/
}

.product ul li ol{ margin: 8px 0 0 0 }
.product ul li ol li{ 
				overflow: hidden;
				padding:0;
				margin-left:0; 
				margin-bottom: 5px;
}

.ship-mid{ color: #0096af; margin-bottom: 10px; }
.promotion{ color: #999; font-size: 0.9em; margin-top: 10px; }

.product .list{ 
				float: left;
				width: 280px;
				padding: 45px 15px 15px 15px;
				/* border: 4px solid #efefef; */
				margin: 0 10px 30px 0;
				border-radius: 5px;
				/*
				-webkit-box-shadow: 0 1px 2px rgba(20,20,20,0.5);
				-moz-box-shadow: 0 1px 2px rgba(20,20,20,0.5);
				box-shadow: 0 1px 2px rgba(20,20,20,0.5);
				*/
				cursor: pointer;
				text-align:center
}

.product .list .detail{ padding-top:75px }
/*
.product ul li:hover, .product .list:hover{ border:4px solid #999 } 
.product ul li.active, .product .list.active{ border:4px solid #333 }
*/ 

.product .detail{ margin-top:45px; }
.product .detail h5 {font-size: 1em; color: #333;}
.product .detail .product_name{ font-size:1.5em; color:#444; }

.product_price{ font-size:26px; color:#444; font-weight:bold; margin-bottom: 5px; }


.p-capture{ margin:0 18px; }

/*#p-software{ padding-top: 30px }*/

#p-image-iq h3{ margin-bottom: 0 }


.btn-buy {
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    background-color: #3b9ded;
    border: none
}

.submit{ text-align: right }
.radio{ position:absolute; left:-9999px }


/**** Cart Item ****/
#tb_cart{ margin-bottom: 40px }

#cart{ font-family:Arial, Helvetica, sans-serif !important }
#cart table { border-top: 1px solid #CECECE; border-bottom: 1px solid #CECECE; border-left: 1px solid #CECECE }
#cart table th, #cart table td {
								background-image: none;
								padding: 10px 15px 10px 10px;
								color: #333;
								border-right: 1px solid #D8D8D8;
}


#cart table td.first{ padding-left:20px; position:relative }
#cart table td .delete-cart{ position:absolute; top: 12px; right:20px }
#cart table th{ background-color: #444; color:#FFF; font-size:14px; text-transform: uppercase }
#cart table .right{ text-align:right; font-size: 1.2em }
#cart table tr.tr_total_price td{ background-color: #ECECEC; padding: 14px 15px 14px 10px; }
#cart table tr.tr_total_price td strong{ font-size:1.2em }

#cart table span.item_img img {
								float: left;
								margin: 0 15px 8px 0;
								height: auto;
}


#cart table span.item_name { color:#333; font-size:1.2em; font-weight:bold;  }
#cart table ul{ margin:5px 0 0 20px;  }
#cart table ul li{ color:#999; font-size:0.85em }

#cart table .item_desc{ float:left; display:inline; padding-top: 30px }

.info{ margin:70px 0; border: 1px solid #cecece; overflow:hidden; font-size: 14px }
.info h4{ margin:30px 0 0 20px; font-size:1.8em; font-weight:normal; line-height: 1.1 }
.form { padding:20px }
.form h5, .form p{ font-size: 14px; margin: 10px 0 2px 0; font-weight:normal; color:#333 !important }
.form input.text, .text {
							color: #333 !important;
							border: 1px solid gray !important;
							-moz-border-radius: 0px !important;
							border-radius: 0px !important;
							margin: 5px 0 15px 0 !important;
							padding: 8px !important;
							-webkit-box-shadow: none !important;
							-moz-box-shadow: none!important;
							box-shadow: none !important;
							outline: none!important;
							font-size: 14px
}


.qty{
	display: inline-block;
	width: 30px;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
}

.btn-update{ padding: 5px 10px }


#cardExpYearLabel,  #cardExpMonthLabel { width: 200px; float: left }
#card_first_name_label,  #card_last_name_label { width: 210px; float: left }
#card_first_name_label input,  #card_last_name_label input{ width:80% !important}

.payment , .contact_info{ width:48%; float:left; padding-left:10px  }
.payment{ border-left: 1px solid #cecece }

.address{ clear:both; border-top: 1px solid #cecece }
.billing_address,.shipping_address{ width:48%; float:left; padding-left:10px }
.billing_address input.text, .billing_address select ,.shipping_address input.text , .shipping_address select, .payment input.text, .payment select ,.contact_info input.text , .contact_info select{ width:70%; }

.shipping_address{ border-left: 1px solid #cecece }
.shipping_address .different_billing{ margin:30px 10px 0 20px; font-size:0.9em }
.shipping_address .different_billing .checkbox{ margin:-2px 6px 0 0 }


.verify_order{ text-align:right; padding-top:30px }

.btn_verify_order {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	border: none;
	cursor: pointer;
	font: normal 1.2em Arial, Helvetica, Geneva, sans-serif;
	background-image: none;
	background: #4d8ffc;
	text-align: center;
	padding: 10px 30px 10px 30px;
}

.qty { width: 30px !important }

.h-billing{ background:url('../images/icon-billing.png') no-repeat 0 0; padding: 7px 0 7px 45px }
.h-shipping{ background:url('../images/icon-shipping.png') no-repeat 0 0; padding: 7px 0 7px 70px }
.h-payment{ background:url('../images/icon-credit-card.png') no-repeat 0 0; padding: 4px 0 7px 62px }
.h-payment span{ background: url('../images/icon-ssl.gif') no-repeat 18px 0px; color: #5CA03C; padding-left: 40px; font-size: 13px; }
.h-info{ background:url('../images/icon-people.png') no-repeat 0 0; padding: 4px 0 7px 45px  } 

#csc{ float: left; width: 120px }
#card_security_code{ margin:4px 0 0 15px }

select {
	border: 1px solid gray;
	height: 40px;
	display: inline-block;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-size: 1em;
	color: #333;
	margin: 5px 0 20px 0;
	padding: 6px 8px;
}


.iq-list li .add-cart-wrapper  {
	text-align: center;
	padding-top: 10px;
	padding-left: 100px;
}

.list .add-cart-wrapper {
	text-align: center;
	padding-top: 10px;
	padding-left: 70px;
}

.product-list .add-cart-wrapper {
	text-align: center;
	padding-top: 10px;
	padding-left: 42px;
}

.btn-add-cart {
	height: 38px;
	width: 120px;
	display: block;
	-pie-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #0089d0;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-family: Arial,sans-serif;
	text-transform: uppercase;
	line-height: 2.25em;
	cursor: pointer;
	border: none;
	padding: 2px 18px;
	font-size: 1.1em;
}





.product .capture, .product .editor{
	padding-bottom: 30px;
	overflow: hidden;
}

/*.product .editor{
	padding-bottom: 40px;
	overflow: hidden;
}*/

.product-list .head{ text-align: center; padding-bottom: 20px; }
.product-list .head h4{ margin: 10px 0; color: #000; font-size: 1.8em  }

.product-list{ padding-top: 30px; border-bottom: 1px solid #f0f0f0;}
.product-list .product-list-detail{ clear: both; margin-top: 45px; }
.product-list .product-list-detail h5{ font-size: 1em; color: #333;}
.product-list .product-list-detail .new {
											float: left;
											width: 43%;
											text-align: center;
											border-right: 1px solid #EEE;
											padding-top: 8px;
										}

.product-list .product-list-detail .upgrade {
												float: left;
												width: 50%;
												text-align: center;
												padding-top: 8px;
											}

.product-list .product-list-detail p{ color: #666 }
.product-list .product-list-detail p.product_price{ color: #444 !important }

.add-cart-wrapper a{ color: #FFF !important }


/*.store-header{ background: url('../images/header-bg.png') no-repeat center 0; height: 296px;  position: relative }
.store-header span{ visibility: hidden }*/

/*.contact{ font-size: 1.6em; line-height: 1.6; width: 530px;  height: 190px; position: absolute; top:35px; left: 510px; color: #000; background: url('../images/contact-box-1.png') no-repeat 0 0; }
.contact table{ margin: 14px 0 0 27px;}
.contact strong{ color: #960000; margin-right: 15px }
.contact a{ color: #000 !important }*/

h3.m-header { 	
	margin: 30px 0 0 45px; 
	font-size: 32px; 
	color: #333; 
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: normal;
	text-align: left; 
}

.col-l{ float: left; width: 350px; }
.col-r{ float: right; width: 600px; font-size: 1.2em; padding-top: 50px; }
.col-r h4{ font-size: 1.5em; margin-bottom: 5px; }
.col-r h4 a { color: #000 }
.col-r ol{ list-style: none; margin: 8px 0 8px 10px;}
.col-r ol li{ margin-bottom: 4px; text-indent: -10px; }


.product-list .col-r p.desc{ padding-bottom: 14px }
.product-list .col-r .btn-add-cart, .detail .product-btn .btn-add-cart{ margin-left: 15px;}

/*.product-list .col-r { margin-left: 63px !important}*/

.dongle{ margin: 8px 0 0 0px; }

.note{ font-size: 0.9em; color: #666;}

/* new design */


.store-header{ height: 190px;  position: relative; border-bottom: 1px solid #f0f0f0; }
.store-header span{ visibility: hidden }

.contact{ 
	font-size: 1.6em; 
	line-height: 1.6; 
	width: 530px;  
	height: 190px; 
	position: absolute; 
	top:35px; 
	left: 510px; 
	color: #000; 
	/*background: url('../images/contact-box-1.png') no-repeat 0 0;*/

}
.contact table{ margin: 14px 0 0 27px;}
.contact strong{ color: #960000; margin-right: 15px }
.contact a{ color: #000 !important }

.store-left {float: left; width: 36%;}
.store-left h1 {
	margin: 30px 0 0 45px; 
	font-size: 32px; 
	color: #333; 
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: normal;
	text-align: left;
}
.store-contact {
	float: right; 
	width: 61%; 
	margin-top: 45px;
	font-size: 16px;
	text-align: left;
	color: #333;
}
.store-contact-content {
	clear: both; 
	height: 35px;
}
.first-row {margin-bottom: 15px;}
.contact-left {float: left; width: 30%;}
.contact-right {float: right; width: 70%;}
.contact-right a {text-decoration: none; color: #333 !important; font-size: 17px;}
.store-contact-content .contact-right .call-no{letter-spacing: 1px; color: #333; visibility:none;}

.row {min-height: 75px; clear: both;}
.product-desc {width: 50%; float: left;}
.product-btn {float: left;; }

.p-desc {font-weight: bold;}
.software-desc { color: #616163; font-weight: bold;}

