@font-face {
    font-family: 'sansBold';
    src: url('../fonts/googlesans-bold-webfont.woff2') format('woff2'),
         url('../fonts/googlesans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansMedium';
    src: url('../fonts/googlesans-medium-webfont.woff2') format('woff2'),
         url('../fonts/googlesans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansRegular';
    src: url('../fonts/googlesans-regular-webfont.woff2') format('woff2'),
         url('../fonts/googlesans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* top contact section */
.top-contact-section {
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: "sansRegular", Arial,sans-serif, Helvetica;
    font-size: 18px;
    color: #666;
}

.top-contact-section .container {
    width: auto;
    max-width: 1440px;
}

.top-contact-section h1 {
	font-family: "sansMedium", Arial,sans-serif, Helvetica;
	font-size: 30px;
	margin-bottom: 30px;
	color: #666;
    text-transform: uppercase;
    text-align: center;
}

.store-ask-us-block {
    text-align: right;
    margin-right: 20%;
    font-family: "sansMedium", Arial,sans-serif, Helvetica;
}

@media (max-width: 425px) {
    .store-ask-us-block {
        margin-right: 0;
        text-align: center;
        margin-bottom: 20px;
    }
}

#store-ask-us-btn {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

#store-ask-us-btn img {
    max-width: 25px;
    margin-left: 5px;
}

.store-contact-block span {
    font-family: "sansMedium", Arial,sans-serif, Helvetica;    
}

.store-contact-block p {
    margin-bottom: 0px;
}

.store-contact-block p a {
    color: #333;
}

.store-contact-block p a:hover, 
.store-contact-block p a:focus-within, 
.store-contact-block p a:active, 
.store-contact-block p a:visited {
    color: #333;
    text-decoration: none;    
}

.store-contact-block .top-email-link{
    color: #00aeef;
}

.store-contact-block .top-email-link:hover, 
.store-contact-block .top-email-link:focus-within, 
.store-contact-block .top-email-link:active, 
.store-contact-block .top-email-link:visited {
    color: #00aeef;
    text-decoration: none;    
}

/* highlight section */
.highlight-section {    
    padding-top: 15px;
    padding-bottom: 25px;
    color: #fff;
    font-family: "sansRegular", Arial,sans-serif, Helvetica;
	font-size: 18px;  
}

.highlight-section .container {
    width: auto;
    max-width: 1440px;
}

.highlight-block {
    background: #a19ea3;
    padding: 20px 15px;
}

.highlight-box {
    background: #747380;
    min-height: 200px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

@media (max-width: 425px) {
    .highlight-box {
        margin-bottom: 15px;
    }
}

.highlight-box-img img{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.highlight-box-content {
    padding: 20px 30px;
}

.highlight-section h1 {
    margin-top: 0px;
    font-family: "sansMedium", Arial,sans-serif, Helvetica;
	font-size: 24px;
}

/* software section */
.software-section {
    padding-bottom: 60px;
    padding-top: 40px;
    color: #333;
    font-family: "sansRegular", Arial,sans-serif, Helvetica;
	font-size: 18px;  
}

.software-section .container {
    width: auto;
    max-width: 1440px;
}

.sofware-img-block {
    position: relative;
}

.software-keyword.white-txt {
    color: #fff;
}

.software-section h1 {
    margin-top: 0px;
    font-family: "sansMedium", Arial,sans-serif, Helvetica;
    font-size: 32px;
    margin-bottom: 15px;
    padding-left: 30px;
}

@media (min-width: 426px) and (max-width: 768px) {
    .software-section h1 {
        font-size: 30px;
        padding-left: 0px;
    }    
}

@media (max-width: 425px) {
    .software-section h1 {
        padding-left: 0;
    }    
}

.software-content {
    padding: 30px;
}

.explain-product-block {
    padding: 30px 30px 0px 30px;
    min-height: 110px;
}

@media (min-width: 426px) and (max-width: 768px) {
    .explain-product-block {
        min-height: 185px;
    }    
}

@media (max-width: 425px) {
    .explain-product-block {
        padding: 30px 0px 0px 0px;
        min-height: 110px;
    }

    .software-content {
        padding: 15px 0px;
    }
}

.explain-product-block p {
    text-align: justify;
}

.software-section h2 {
    margin-top: 30px;
    font-family: "sansMedium", Arial,sans-serif, Helvetica;
    font-size: 26px;
    margin-bottom: 20px;
}

.software-section h3 {
    margin-top: 30px;
    font-family: "sansMedium", Arial,sans-serif, Helvetica;
    font-size: 24px;
    margin-bottom: 20px;
}

@media (min-width: 1367px) and (max-width: 1440px) {
    .read-more-block {
        min-height: 215px;
    }
}

@media (min-width: 1281px) and (max-width: 1366px) {
    .read-more-block {
        min-height: 215px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .read-more-block {
        min-height: 300px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .read-more-block {
        min-height: 315px;
    }
}

/* read more capture block */
.key-feature-block p {
    text-align: justify;
    padding-left: 18px;
    padding-right: 18px;
}
.read-more-capture-state {
    display: none;
}
  
.read-more-capture-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
  
.read-more-capture-state:checked ~ .read-more-capture-wrap .read-more-capture-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}
  
.read-more-capture-state ~ .read-more-capture-trigger:before {
    content: 'read more';
}
  
.read-more-capture-state:checked ~ .read-more-capture-trigger:before {
    content: 'read less';
}
  
.read-more-capture-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0px;
    color: #666;
    font-size: 16px;
    line-height: 1;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    color: #00aeef;
    text-decoration: underline;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .read-more-capture-trigger {
        margin-top: 40px;
    }    
}

/* read more editor block */
.read-more-editor-state {
    display: none;
}
  
.read-more-editor-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
  
.read-more-editor-state:checked ~ .read-more-editor-wrap .read-more-editor-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}
  
.read-more-editor-state ~ .read-more-editor-trigger:before {
    content: 'read more';
}
  
.read-more-editor-state:checked ~ .read-more-editor-trigger:before {
    content: 'read less';
}
  
.read-more-editor-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0px;
    color: #666;
    font-size: 16px;
    line-height: 1;
    margin-top: 45px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    color: #00aeef;
    text-decoration: underline;
}

@media (min-width: 1367px) and (max-width: 1440px) {
    .read-more-editor-trigger {
        margin-top: 15px;
    }
}

@media (min-width: 1281px) and (max-width: 1366px) {
    .read-more-editor-trigger {
        margin-top: 20px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .read-more-editor-trigger {
        margin-top: 70px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .read-more-editor-trigger {
        margin-top: 15px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .read-more-editor-trigger {
        margin-top: 35px;    
    }    
}

@media (max-width: 425px) {
    .read-more-editor-trigger {
        margin-top: 55px;    
    }
}

.software-section h4 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: "sansMedium", Arial,sans-serif, Helvetica;
    font-size: 18px;
    line-height: 1.2;    
}

.form-block {
    margin-top: 80px;
}

@media (max-width: 425px) {
    .form-block {
        padding-left: 15%;
        padding-right: 15%;
    }    
}

@media (max-width: 320px) {
    .form-block {
        padding-left: 10%;
        padding-right: 10%;
    }    
}

.software-box {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #2080cf;
    background: #f3f8ff;
    cursor: pointer;   
}

.software-btn {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #2080cf;
    background: #f3f8ff;
    width: 100%;
    padding: 0px 12px;
}

@media (max-width: 768px) {
    .software-btn {
        margin-bottom: 50px;
    }    
}

.software-btn:hover,
.software-btn:focus, 
.software-btn:focus-within, 
.software-btn:active, 
.software-btn:visited,
.software-btn:active:focus {
    color: #333;
    border: 2px solid #2080cf;
    background: #f3f8ff;
    outline: none;
    box-shadow: none;
}

.software-img {
    /* margin-top: -23px; */
    z-index: 999;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    margin: 0 auto;
}

.software-type {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
    font-family: "sansMedium", Arial,sans-serif, Helvetica;
    font-size: 20px;    
}

.software-price {
    text-align: center;
    margin-bottom: 40px;
    font-family: "sansMedium", Arial,sans-serif, Helvetica;
    font-size: 20px;    
}

.special-title {
    margin-top: 50px;
    font-family: "sansMedium", Arial,sans-serif, Helvetica;
    font-size: 28px;
    text-align: center;
    color: #666;   
}

@media (min-width: 426px) and (max-width: 768px) {
    .special-title {
        margin-top: 0px;
    }    
}

.special-block {
    border: 2px solid #e1e1e1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 15px 30px;
    padding: 15px 15px;
}

.special-block-desc h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "sansBold", Arial,sans-serif, Helvetica;
    font-size: 26px;
    line-height: 1.3;
    color: #333;
}

.special-block-desc h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "sansBold", Arial,sans-serif, Helvetica;
    font-size: 20px;
    line-height: 1.3;
    color: #666;
}

@media (min-width: 426px) and (max-width: 768px) {
    .special-block-desc h3 {
        font-size: 22px;
    }    
}

@media (max-width: 425px) {
    .special-block {
        margin: 15px 0px;
        padding: 20px 15px;    
    }

    .special-block-desc h3 {
        text-align: center;
    }

    .special-block-desc h4 {
        margin-bottom: 25px;
        text-align: center;
    }
}

.special-row {
    display: flex;
    align-items: center;
}

@media (max-width: 425px) {
    .special-row {
        display: block;
    }
    
    .special-block-desc {
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

.special-capture-img {
    float: right;
}

.special-editor-img {
    float: left;
}

@media (min-width: 426px) and (max-width: 768px) {
    .special-capture-img {
        float: none;
        margin-bottom: 15px;
    }
    
    .special-editor-img {
        float: none;
    }    
}

.special-price-block-desc {
    text-align: center;
}

.special-price-btn {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #2080cf;
    background: #2080cf;
    padding: 15px 35px;
    color: #fff;
}

.special-price-btn:hover,
.special-price-btn:focus, 
.special-price-btn:focus-within, 
.special-price-btn:active, 
.special-price-btn:visited,
.special-price-btn:active:focus {
    color: #fff;
    border: 2px solid #2080cf;
    background: #2080cf;
    outline: none;
    box-shadow: none;
}

.special-price-lbl {
    font-size: 20px;
    line-height: 1.3;
}

.discount-lbl {
    margin-top: 10px;
    color: #ec008c;
    font-size: 18px;
    line-height: 1.1;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .special-price-btn {
        padding: 15px 25px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .special-price-btn {
        padding: 15px 15px;
    }

    .special-price-lbl {
        font-size: 16px;
        line-height: 1.2;
    }

    .discount-lbl {
        font-size: 14px;
    }
        
}

.combo-set-block {
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.first-combo-set {
    border-bottom: 1px solid #e1e1e1;
}

  

